/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; margin:0;   font-family:'Source Sans Pro',sans-serif;}

body {
  background-color: #FFF;
  font: 13.34px 'Source Sans Pro',sans-serif;
  font-size: small;
  text-align: center;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; font-weight:400; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #0054ff; text-decoration: none}
a:hover   { color: #0054ff; text-decoration: underline; }
a:visited { color: #006ff9; }
a:active, a:hover{ outline: 0 }
strong{ font-weight:700 }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

h2{
  font-size: 24px;
  color:#222;
  margin: 30px auto 20px;
  display:  inline-block;
  position: relative;
  text-transform:uppercase;
}

h2:after{
  content:'';
  position: absolute;
  left:0;
  bottom: -10px;
  width: 100%;
  height:1px;
  border-bottom:1px solid #222;
}


.wrapper{
  width:1000px;
  min-width:1000px;
  margin:0 auto;
}

#header{
  position: absolute;
  width:100%;
}

.header-bg, .header-overlay{
  width:100%;
  height:700px;
  top:0;left:0;
  position:fixed;
  z-index:-2;
}

.header-bg{
  background:url(/img/header_bg.jpg) no-repeat center center;
}

@media only screen and (min-width: 1600px){
  .header-bg {
      background-size: 100% !important;
  }
}

.header-overlay{
    background-color:rgba(0,0,0,0.4);
    z-index:-1;
}

.logo{
  background-image:url(/img/logo.png);
  width:218px;
  height:140px;
  margin: 140px auto 30px auto;
}

#intro, #designs{
  padding:40px;
  box-sizing:border-box;
}

#designs{background:#fff;}

#intro{
  background:transparent;
  height:700px;
  color:#fff;
}

.intro-wrapper{
  text-align:center;
}

#intro h1{
  font-size:42px;
  margin: 10px 0;
}

.intro-wrapper p{
  font-weight:300;
  font-size: 34px;
  margin:20px 0;
}

#intro p.attribs{
  opacity:0.6;
  font-size:18px;
  margin:10px 0 20px;  
  text-transform:  uppercase;
}

#intro p.attribs span{ position:relative;   padding: 0 10px 0 20px; }

#intro p.attribs span::before{
  content: '•';
  position: absolute;
  top:0;
  left:0;
}

#intro p.attribs span:first-child::before{
  content: '';
}

.intro-links{
  margin: 50px 0 0;
}

.intro-links a{
  margin: 0 20px;
  text-decoration: none;
}

.intro-links a img{
  position: relative;
  top:0;left:0;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

.intro-links a:hover img{
  top:3px;
  opacity:0.7;
}


#nav{
  padding:20px 0;
  width:100%;
  box-sizing:border-box;
  position: fixed;
  background:rgba(0,0,0,0.2);
}


.center-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.center-block {
  width: 960px;
  margin: 0 auto;
}


.grid-container{
  margin:40px 0;
}
@media only screen and (max-width: 1100px){
  .wrapper {
      width: 700px;
      min-width: 700px;
  }
}

@media only screen and (max-width: 760px){
  .wrapper {
      width: 335px;
      min-width: 335px;
  }
  


  #designs, #intro{
    padding:10px;
    min-width:360px;
  }
}

.grid-item{
  width:300px;
  height:200px;
  margin: 0 16px 33px 16px;
  float:left;
  background-color:#eee;
  position:relative;
  overflow:hidden;
}

.grid-item{
}

.grid-item dl {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 66px 20px 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.8);
    line-height:1.5;
    color: white;
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
}

.grid-item:hover dl{
  opacity: 1;
  padding-top:76px;
}

.grid-item dl dt{
  color:#fff;
  text-align:center;
}

.grid-item img{
  width:300px;
  height:200px;
}

.grid-item dl dt.preview-title{
  font-size:20px;
  color:#FCCD1B;
}

.grid-item dl dt.preview-desc{
  text-transform:uppercase;
  font-size:12px;
  opacity:0.6;
}

.overlay{
  position:fixed;
  top:0;left:0;right:0;bottom:0;
  background-color:rgba(255,255,255,0.8);
  opacity:0;
  z-index: -1;
  transition: 0.3s opacity;
  -webkit-transition: 0.3s opacity;
  -moz-transition: 0.3s opacity;
  -o-transition: 0.3s opacity;
  -ms-transition: 0.3s opacity;

  display: none;
}

.show-item.visible{
  opacity:1;
  z-index:9999;
}

.overlay.visible{
  display: block;
  opacity:1;
  z-index:999;
}


.show-item{
  width:100%;
  overflow-y:scroll;
  overflow-x:hidden;
  position: absolute;
  top:0px;
  left:0;right:0;
  bottom:0px;
  opacity:0;
}
.show-img{
  margin:30px 0 30px 7px;
  width:100%;
}

.show-img img{
  box-shadow: 0 0px 6px rgba(0,0,0,0.2);
}


#footer{
  padding: 30px 0;
  font-size:12px;
  color:#ddd;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}


.link-icon{
  width:36px;
  height:36px;
}

.link-icon.ico-github{
  background-image: url(/img/github_w.png);
  height:35px;
}
.link-icon.ico-linkedin{
  background-image: url(/img/linkedin_w.png);
}

.link-icon.ico-mail{
  background-image: url(/img/mail_w.png);
}


/*****************************************************************************/
/*
/* Helpers
/*
/*****************************************************************************/

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.col{
  float:left;
}

.noscroll{
  overflow:hidden;
}